<div id="menuEsquerda">
  <div class="containnerMenu">
    <div id="iconeMenu"></div> <!-- Icone do menu -->
  </div>
  <div id="menuOpcoes">
    <i class="material-symbols-outlined opcoesMenu" id="home"> home </i>
    <i class="material-symbols-outlined opcoesMenu" id="ocorrencias"> list_alt </i>
    <i class="material-symbols-outlined opcoesMenu" id="relatorios"> assignment </i>
    <i class="material-symbols-outlined opcoesMenu" id="logout"> logout </i>
  </div>
  <h1 id="titulo">Minha Dashboard</h1>
</div>

<i class="material-symbols-outlined" id="icones"> notifications </i>