<section id="blocosSuperiores">
  <div class="covid"></div>
  <div class="covid covidMeio"></div>
  <div class="covid"></div>
</section>

<section id="centro">
  <img src="../../img/hub-help-logo-branca.svg" alt="logo Hub Help" id="logoHubHelp">
  <nav id="navegacao">
    <div id="seletor"></div>
    <a href="/Ocorrencias/ocorrencias.html" class="opcaoBarraLateral" id="ocorrencias">
      <img src="../../img/icones_barra_lateral/ocorrencias_branco.svg" alt="" id="iconeOcorrencias">
      Ocorrencias
    </a>
    <a href="" class="opcaoBarraLateral" id="relatorios">
      <img src="../../img/icones_barra_lateral/relatorio_branco.svg" alt="" id="iconeRelatorios">
      Relatorios
    </a>
    <a href="" class="opcaoBarraLateral" id="logout">
      <img src="../../img/icones_barra_lateral/logout_branco.svg" alt="" id="iconeLogout">
      Logout
    </a>
  </nav>
</section>

<section id="blocosInferiores">
  <div class="covid"></div>
  <div class="covid covidMeio"></div>
  <div class="doubleCovid">
    <div class="covid"></div>
    <div class="covid"></div>
  </div>
</section>