/* Cores gerais que sao usadas em todo o projeto */
:root{
  --cor-azul-padrao: #064A80;
  --cor-fonte: #4F4D4D; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
}