@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Press+Start+2P&display=swap');

*, *::before, *::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	width: 100vw;
	height: 100vh;
	
	background-color: #064A80;
	font-family: 'Montserrat', sans-serif;

	display: flex;	
	flex-direction: column;
}

header
{
	height: 20%;
	/* border: 1px solid #fff; */
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 100%;
	color: #fff;
}

.logo
{
	padding-top: 10%;
	grid-area: 1/5/2/7;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
}

.logo h1
{
	font-family: 'Press Start 2P', cursive;
	font-size: 2.8rem;
	white-space: nowrap;
}

.grid-covid
{
	/* border: 1px solid red; */
	display: grid;
	height: 100%;
	aspect-ratio: 0.75/1;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
header > .grid-covid
{
	grid-area: 1/10/2/11;
	justify-self: end;
	align-self: start;
}
main
{
	margin: auto 0; 
	width: 22.5%;
	min-height: 45%;
	border: 2px solid #fff;
	border-radius: 5%;
	align-self: center;
	display: flex;
	flex-direction: column;
	
	background-color: #fff;
}

.opcoes-login
{
	height: 3rem;
	border-radius: 1.5rem 1.5rem 0 0;
	display: flex;
	justify-content: space-evenly;
	background-color: #064A80;
	
}

.opcoes-login > .botao
{
	width: 50%;
	height: 3rem;
	border: none;
	cursor: pointer;
	
	font-size: 1.125rem;
	font-weight: 500;
	color:white;
	background-color: #064A80;
}

/* https://css-tricks.com/a-complete-guide-to-data-attributes/ */
.opcoes-login > [data-op-atual]
{
	color:#064A80;
	background-color: white;
}

.opcoes-login #login
{
	border-radius: 1.18em 1.18em 0 0;
}

.opcoes-login #criar-conta
{
	border-radius: 1.18em 1.18em 0 0;
}

main > h2
{
	font-size: 1.325rem;
	font-weight: 600;
	margin-top: 12.5%;
	color:#064A80;
	text-align: center;
}

main > p
{
	margin: 7.5% auto 0 auto;
	max-width: 75%;
	color: #474242;
	font-weight: 400;
	text-align: center;
	word-wrap: normal;
	/* word-break: ; */
}

main > form
{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

main > form.form-login
{
	margin-top: auto;
	height:fit-content;
}
main > form.form-grande
{
	margin-top: 5%;
	justify-content: space-around;
}

main > form.form-pequeno
{
	justify-content: center;
	gap: 1.5em;
}

form > input
{
	width: 80%;
	height: 3em;
	
	border: 1px solid #c4c4c4;
	border-radius: 1.5em;
	padding-left: 1em;
	outline: none;
}

form input:focus
{
	border: 1px solid #064A80;
}

.submit-button
{	
	width: 15em;
	padding-left: 0;
	border-radius: 0.8em;
	/* 	font-size: 1rem; */
	font-weight: 700;
	color: #fff;
	background-color: hsl(207, 91%, 26%);
	
	cursor: pointer;
}

#submit-login:hover
{
	background-color: hsl(207, 81%, 34%);
}

#esqueci-senha
{
	margin-top: 0.875em;
	margin-bottom: auto;
	border: none;
	
	color: #064A80;
	background-color: #fff;
	
	cursor: pointer;
}

#esqueci-senha:hover
{
	text-decoration: underline;
}

.img-container 
{
	display: flex;
	justify-content: end;
	align-items: end;
	height: 26%;
}
.img-container > img
{
	transform: scale(0.75);
}

dialog
{
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 3em;
	border: hidden;
	border-radius: 5%;
}

dialog::backdrop
{
	opacity: 0.2;
}

dialog > img
{
	width: 20%;
	justify-self: center;
}

footer
{
	height: 20%;
	/* border: 1px solid #fff; */
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 100%;
}

footer > .grid-covid
{
	grid-area: 1/1/2/2;
	justify-self: start;
	align-self: end;
}

.cor
{
	background-color: #52799B;
}