@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Press+Start+2P&display=swap');

*, *::before, *::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	width: 100vw;
	height: 100vh;
	
	background-color: #064A80;
	font-family: 'Montserrat', sans-serif;

	display: flex;	
	flex-direction: column;
}

header
{
	height: 20%;
	/* border: 1px solid #fff; */
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 100%;
	color: #fff;
}

.logo
{
	grid-area: 1/5/2/7;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
}

.logo h1
{
	font-family: 'Press Start 2P', cursive;
	font-size: 2.8rem;
	white-space: nowrap;
}

.grid-covid
{
	/* border: 1px solid red; */
	display: grid;
	aspect-ratio: 0.75/1;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
header > .grid-covid
{
	grid-area: 1/10/2/11;
	/* justify-self: end; */
	/* align-self: start; */
}
main
{
	margin: auto 0; 
	width: 22.5%;
	min-height: 45%;
	border: 2px solid #fff;
	border-radius: 5%;
	align-self: center;
	display: flex;
	flex-direction: column;
	
	background-color: #fff;
}

.opcoes-login
{
	height: 3rem;
	border-radius: 1.5rem 1.5rem 0 0;
	display: flex;
	justify-content: space-evenly;
	background-color: #064A80;
	
}

.opcoes-login .botao
{
	width: 50%;
	height: 3rem;
	border: none;
	cursor: pointer;
	
	font-size: 1.125rem;
	font-weight: 500;
	
	color:white;
	background-color: #064A80;
	
}

/* https://css-tricks.com/a-complete-guide-to-data-attributes/ */
[data-op-atual]
{
	color:#064A80;
	background-color: white;
}

.opcoes-login #login
{
	border-radius: 1.18em 1.18em 0 0;
}

.opcoes-login #criar-conta
{
	border-radius: 1.18em 1.18em 0 0;
}


main form
{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

form input
{
	width: 80%;
	height: 3.2em;
	
	border: 1px solid #064A80;
	border-radius: 1.6em;
	padding-left: 1em;
	outline: none;
}

form input:focus
{
	border: 2px solid #064A80;
}

#submit-login
{
	font-size: 1rem;
	font-weight: 800;
	color: #fff;
	background-color: hsl(207, 91%, 26%);
	
	cursor: pointer;
}

#submit-login:hover
{
	background-color: hsl(207, 81%, 34%);
}

#esqueci-senha
{
	border: none;
	
	color: #064A80;
	background-color: #fff;
	
	cursor: pointer;
}

#esqueci-senha:hover
{
	text-decoration: underline;
}

main img
{
	align-self: flex-end;
}

footer
{
	height: 20%;
	/* border: 1px solid #fff; */
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 100%;
}

footer > .grid-covid
{
	grid-area: 1/1/2/2;
	/* justify-self: start; */
	/* align-self: end; */
}

.cor
{
	background-color: #52799B;
}