#barraLateral {
  background-color: #064A80;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Style dos bloquinhos na barra lateral */
#blocosSuperiores {
  background-color: red;
  width: 100%;
  height: 80px;
}
#blocosInferiores {
  background-color: green;
  width: 100%;
  height: 80px;
}