#barraLateral {
  z-index: 0;
  background-color: #064A80;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* Style dos bloquinhos na barra lateral */
#blocosSuperiores {
  width: 100%;
  height: 80px;
}
#blocosInferiores {
  width: 100%;
  height: 60px;
}
.covid {
  width: 20px;
  height: 20px;
  background-color: #52799B;
}
.doubleCovid {
  height: 25px;
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.covidMeio {
  margin-left: 20px;
}

/* Logo Hub Help */
#logoHubHelp {
  width: 45px;
  height: 45px;
}

/* Centro da barra lateral */
#centro {
  position: absolute;
  width: inherit;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-between;
}
#navegacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 40px;
}
#seletor {
  z-index: 2;
  background-color: rgba(red, green, blue, alpha);
  height: 60px;
  width: 100%;
  position: absolute;
  border-left: 2px solid #fff;
}
.opcaoBarraLateral {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: .7rem;
  width: 75px;
  height: 60px;
}
#centro > #navegacao > .opcaoBarraLateral > img {
  width: 30px;
  height: 30px;
}
.opcaoBarraLateral:hover {
  background-color: #52799B;
  color: #fff;
}
#logout {
  margin-top: 40px;
}